body {
  background-image: url('images/back.jpg');

  background-position:cover;
  color: white;
  height: 100%;
  overflow:auto;
  margin: 0 auto;
  
  padding: 0px;
}

.image {
  display:flex;
  width: 50%;
  margin: 40px auto;
  border-radius: 40px;
}

.header {
  display: flex;
  margin: 0 auto;
  align-items:center;
  justify-content:center;
}
.advice {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.1;
}

.container2 {
  display:flex;
  margin:auto;
	flex-wrap: wrap;
	justify-content:space-evenly;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  transform-style: preserve-3d;
}

.container2 .box {
  position:relative;
  width: 300px;
  height: 400px;
  margin: 40px;
  background: #071d46e7;
  border-radius: 20px;
  transform-style: preserve-3d;
}

.container2 .box::before {
  content: 'VALERII';
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 3.5em;
  font-weight: 900;
  color: #ffc1a4;
  font-style: italic;
  opacity: 0.5;
  transition: 0.5s;
}

.container2 .box::after {
  content: 'COFFEE';
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 3.5em;
  font-weight: 900;
  color: #ffc1a4;
  font-style: italic;
  opacity: 0.5;
  transition: 0.5s;
}
/*//To make opacity//*/
.container2 .box:hover:before, 
.container2 .box:hover:after {
  opacity: 0.04;
}

.container2 .box .name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0,0,75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.container2 .box:hover .name {
  top: 40px;
  opacity: 1;
}

.container2 .box .buy {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%,0,75px);
  color: rgb(49, 7, 53);
  background: #fff;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.container2 .box:hover .buy {
  bottom: 30px;
  opacity: 1;
}

.container2 .box .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s;
  background:#fff;
  transform-style: preserve-3d;
  z-index: 10;
  opacity: 1;
  transform: translate3d(-50%,-50%,50px);
}

.container2 .box .product {
position: absolute;
top: 50%;
left: 50%;
max-width: 300px;
transition: 0.5s;
z-index:11;
transition: 0.5s;
transform-style: preserve-3d;
transform: translate3d(-50%,-50%,50px) rotate(-15deg);
}

.container2 .box:hover .product {
  transform: translate3d(-50%,-50%,100px) rotate(-15deg);
}

.container2 .box:nth-child(1) .circle,
.container2 .box:nth-child(1) .buy {
  background: #ffc1a4;
}

.container2 .box:nth-child(2) .circle,
.container2 .box:nth-child(2) .buy {
  background: #9ceedc;
}

.container2 .box:nth-child(3) .circle,
.container2 .box:nth-child(3) .buy {
  background: #686bf5;
}

  .button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    line-height: 1.5;
    font-weight: bolder;
    font-size: 1rem;
    color: #eceed5;
    background-color: rgba(135, 63, 223, 0.671);
  }
  
  .button:hover {
    cursor: pointer;
    background-color: #91e9bd;
    color:#411703;
    }

  .container1 {
    display:flex;
    margin:auto;
	  flex-wrap: wrap;
	  justify-content:space-evenly;
    }

  .container1 {
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 1%;
    text-align: center;
    line-height: 1.8;
    color: rgb(243, 227, 208);
  }